config.py
__pycache__
Raspi-MotorHat
Images/biden_empty.jpg
Images/biden_full.jpg
Images/biden.psd
Images/donald_trump_photo_.jpg
Images/emotion-scale-speedometer-vector-26541477.jpg
Images/joe-biden-official-portrait_1600jpg.jpg
Images/trump_empty.jpg
Images/trump_full.jpg
Images/trump.psd
Images/141666633-good-quality-smile-face-color-speedometer-set-in-flat-style-vector-illustration.jpg
Images/2000px-Republicanlogo.svg.png
Images/democratic-party-logo.jpg
.vscode/arduino.json
.vscode/c_cpp_properties.json
twitometer.code-workspace
