config.py
__pycache__
Raspi-MotorHat
Images/biden_empty.jpg
Images/biden_full.jpg
Images/biden.psd
Images/donald_trump_photo_.jpg
Images/emotion-scale-speedometer-vector-26541477.jpg
Images/joe-biden-official-portrait_1600jpg.jpg
Images/trump_empty.jpg
Images/trump_full.jpg
Images/trump.psd
Images/141666633-good-quality-smile-face-color-speedometer-set-in-flat-style-vector-illustration.jpg
Images/2000px-Republicanlogo.svg.png
Images/democratic-party-logo.jpg
.vscode/arduino.json
.vscode/c_cpp_properties.json
twitometer.code-workspace
Images/0005-speedometer-diagram-16x9-1.jpg
Images/0005-speedometer-diagram-16x9-2.jpg
Images/biden_r1.psd
Images/biden_r2.png
Images/biden.svg
Images/gauge.dxf
Images/gauge.svg
Images/trump_r2.png
Images/trump.svg
dwzhou_sentiment_analysis/SentimentAnalysis-master.zip
Notes/message_block_coding.xlsx
